.slick-dots li button:before {
  content: none !important;
}
.slick-dots-bottom {
  margin: 0 !important;
  padding: 0 !important;
}

@media (max-width: 1024px) {
  .ant-carousel .slick-dots {
    z-index: 0 !important;
  }
}
.ant-carousel {
  @media (max-width: 768px) {
    .home-carousel {
      height: 480px !important;
      margin-top: 70px;
    }
  }
  @media (max-width: 576px) {
    .home-carousel {
      height: 355px !important;
      margin-top: 70px;
    }
  }
  @media (max-width: 480px) {
    .home-carousel {
      height: 320px !important;
      margin-top: 70px;
    }
  }
  @media (max-width: 430px) {
    .home-carousel {
      height: 290px !important;
      margin-top: 70px;
    }
  }
  @media (max-width: 420px) {
    .home-carousel {
      height: 270px !important;
      margin-top: 70px;
    }
  }
  @media (max-width: 400px) {
    .home-carousel {
      height: 270px !important;
      margin-top: 70px;
    }
  }
  @media (max-width: 376px) {
    .home-carousel {
      height: 260px !important;
      margin-top: 70px;
    }
  }
  @media (max-width: 365px) {
    .home-carousel {
      height: 250px !important;
      margin-top: 70px;
    }
  }
  @media (max-width: 320px) {
    .home-carousel {
      height: 220px !important;
      margin-top: 70px;
    }
  }
}
