.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

@media (max-width: 1024px) {
  header {
    .container {
      img {
        width: 60%;
        margin-top: 12px;
      }
      .checkbtn {
        display: block;
      }

      ul {
        display: flex;
        position: fixed;
        width: 100%;
        // height: 100vh;
        background: #051b3de8;
        top: 96px;
        left: -100%;
        text-align: center;
        // justify-content: center;
        transition: all 0.5s;
        align-content: center;
        align-items: center;
        flex-direction: column;

        li {
          display: block;
          margin: 20px 0;
          line-height: 30px;
        }
        button {
          margin: 10px 0;
        }
      }
      .leaguage {
        display: none !important;

        .ant-select {
          width: 66px !important;
          margin-top: 25px;
        }
      }

      #check:checked ~ ul {
        left: 0;
      }
    }
  }
}
