section {
  .slick-list {
    width: 105%;
    // padding: 0 12px !important;
  }
  .slick-dots {
    display: none;
  }
}
@media (max-width: 490px) {
  .container {
    button {
      padding: 5px 15px;
    }
  }
}

@media (max-width: 420px) {
  .container {
    button {
      padding: 5px 15px;
      font-size: 12px;
    }
  }
}

@media (max-width: 400px) and (max-width: 390px) {
  .container {
    button {
      padding: 5px 15px;
      font-size: 12px;
    }
  }
}


